.col-conter{
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bgimage{
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.userbgimage{
  background: url(../images/usb.jpg) no-repeat center fixed;
  background-size: contain;
}

.index_img{
  width: 100%;
  height: 500px;
}
.last_img{
  background: url(../images/classic-pattern-bg.png) repeat center fixed;
}

a{
  color: saddlebrown;
}

.blog_img{
  width: 100%;
  height: 300px;
}