.col-conter{
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bgimage{
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.userbgimage{
  background: url(../images/usb.jpg) no-repeat center fixed;
  background-size: contain;
}
