{% extends "base.html" %}

{% if true %}
  {% block IndexAdmin %}
  <h1>登录后查看</h1>
  <a class="btn btn-primary btn-large" href="#">Learn more</a>
  {% endblock %}
{% else %}
  {% block LsAndUser %}
      <div class="dropdown" style="float: right">
        <img src="../static/images/timg.jpg" class="img-responsive img-rounded img-circle">
        <button type="button" class="btn dropdown-toggle" id="UserDropMenu" data-toggle="dropdown">Nmae<span class="glyphicon glyphicon-user caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="UserDropMenu">
          <li role="presentation">
            <a role="menuitem"  tabindex="-1" href="#">Nmae:{{Username}}</a>
          </li>
          <li role="presentation">
            <a role="menuitem"  tabindex="-1" href="#">E-mail:{{Email}}</a>
          </li>
          <li role="presentation">
            <a role="menuitem"  tabindex="-1" href="userhome">进入个人空间</a>
          </li>
          <li role="presentation">
            <a role="menuitem"  tabindex="-1" href="modpasswd">修改密码</a>
          </li>
        </ul>
      </div>
  {% endblock %}
{% endif %}
