<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人博客</title><!--子类可以替换改标题-->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <script src="../static/js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/selfmd.css">
</head>
<body>
<div class="col-md-6">
    <form role="form" class="form-horizontal" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="Username" placeholder="y用户名">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="Message">
        </div>
        <button type="submit" class="btn btn-primary" >发表</button>
    </form>
</div>
</body>
</html>