<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/selfmd.css">
    <meta charset="UTF-8">
    <title>Userunterface</title>
</head>
<body>

<div class="container">
  <div class="row">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a href="#" class="navbar-brand" style="color: #2aabd2">个人界面</a>
      </div>
      <ul class="nav nav-pills">
        <li><a>A</a></li>
        <li><a>B</a></li>
        <li><a>C</a></li>
        <li><a>D</a></li>
        <div style="float: right">
          <li>
            <div class="dropdown">
              <button type="button" class="btn dropdown-toggle" id="UserDropMenu" data-toggle="dropdown">Nmae<span class="glyphicon glyphicon-user caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="UserDropMenu">
                <li role="presentation">
                <a role="menuitem"  tabindex="-1" href="#">Nmae:{{Username}}</a>
                </li>
                <li role="presentation">
                  <a role="menuitem"  tabindex="-1" href="#">E-mail:{{Email}}</a>
                </li>
              </ul>
            </div>
          </li>
          <li><img src="../static/images/timg.jpg" class="img-responsive img-rounded img-circle"></li>
        </div>
      </ul>
    </nav>
  </div>
  <div class="row clearfix">
    <div class="jumbotron">
      <h1>{{Username}}博客</h1>
      <p>
        最新博文{{LatestText}}
        更新时间{{LatestTime}}
        <a href="#" class="btn-info">了解更多</a>
        <img src="static/images/background.jpg" class="img-responsive img-rounded"/>
      </p>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-6">
      <h1>The First</h1>
      <p>1111</p>
    </div>
    <div class="col-md-6">
      <h1>The Second</h1>
      <p>2222</p>
    </div>
  </div>
</div>
</body>
</html>
